/* DEFAULT STYLES */

* {
    border: 0;
    margin: 0;
    padding: 0;
    outline: none;
    /*list-style: none;*/
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font: 300 18px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    background: #F4F4FA;
    color: #3C3F50;
}

s {
    text-decoration: line-through;
}

h1, h2, h3 {
    font-weight: 300;
}

.triangle {
    top: 73px;
    z-index: 100;
    left: calc(4% + 32.5px - 18px);
    position: absolute;
    width: 0;
    height: 0;
    border-top: 21px solid #FEFEFE;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
}

.clearfix {
    clear: both;
}

/* HEADER */

.header {
    width: 100%;
    height: 75px;
    line-height: 75px;
    background: #FEFEFE;
    border-bottom: 1px solid #E5E5E5;
    padding: 0 4%;
}

.header h2 {
    float: left;
    padding-left: 50px;
    line-height: 73px;
}

.header .switcher span {
    transition: all .3s;
    padding: 5px 20px;
    float: left;
    margin: 18.5px 0;
    background: #FFF;
    color: #3C3F50;
    box-shadow: 0 0 20px rgba(0, 0, 0, .03);
    opacity: .5;
    cursor: pointer;
}

.header .switcher span.active {
    opacity: 1;
    box-shadow: 0 0 20px rgba(0, 0, 0, .05);
}

.header .switcher span:not(.active):hover {
    opacity: .8;
}

.header .switcher span:active {
    opacity: 1;
    box-shadow: 0 0 20px rgba(0, 0, 0, .05);
}

.header .switcher .people {
    font-size: 28px;
    border-right: 1px solid #EFEFEF;
}

.header .switcher .book {
    font-size: 23px;
    line-height: 28px;
}

.header input {
    font-family: 'Segoe UI Light', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #FAFAFA;
    width: 40%;
    margin-top: 17.5px;
    float: right;
    font-size: 18px;
    display: block;
    height: 40px;
    color: #3C3F50;
    border-radius: 3px;
    padding-left: 40px;
    transition: all .2s;
    border: 1px solid #EFEFEF;
    box-shadow: 0 7px 20px rgba(0, 0, 0, .03);
    opacity: .9;
}

.header input:active,
.header input:focus {
    opacity: 1;
}

.header .icon.pe-7s-search {
    position: absolute;
    z-index: 1000;
    top: 17.5px;
    right: calc(44.5% - 10px);
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    opacity: .9;
    color: #3C3F50;
    cursor: pointer;
}

.header .pe-7s-config {
    float: right;
    font-size: 30px;
    margin-left: 4%;
    line-height: 75px;
    opacity: .7;
    cursor: pointer;
}

.header .pe-7s-config:hover {
    opacity: .9;
}

.header .pe-7s-config:active {
    opacity: 1;
}

/* SUBHEADER */

.nav {
    height: 75px;
    background: #F1F1F1;
    border-bottom: 1px solid #EAEAEA;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .03);
    line-height: 75px;
    padding: 0 4%;
}

.nav .filter {
    float: left;
    width: 80%;
}

.nav .filter h2 {
    display: inline-block;
    line-height: 71px;
    margin-right: 4%;
}

.nav .filter span {
    margin: 0 10px;
    display: inline-block;
    opacity: .7;
    cursor: pointer;
}

.nav .filter span.active {
    opacity: 1;
    font-weight: normal;
}

.nav .new {
    color: #4CAF50;
    float: right;
    cursor: pointer;
}

.nav .new .pe-7s-plus {
    line-height: 78px;
    float: left;
    margin-right: 10px;
}

/* CONTENT */

.content {
    width: 100%;
    padding: 60px 4%;
}

.content .people {
    background: #FFF;
    box-shadow: 0 7px 20px rgba(0, 0, 0, .05);
    width: 30.333333333%;
    height: 250px;
    padding: 10px 20px;
    float: left;
    margin: 25px calc(3% / 2);
    border-radius: 3px 3px 0 0;
    border-bottom: 2.5px solid;
    padding-top: 55px;
    cursor: pointer;
    transition: all .3s;
}

.content .people:hover {
    margin-top: 10px
}

.content .people .rank {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #FFF;
    border: 2px solid;
    line-height: 76px;
    margin: -90px auto;
    text-align: center;
    font-size: 35px;
    font-family: Consolas;
}

.content .people.color-1, .people.color-1 .rank {border-color: #FF7F50}
.content .people.color-2, .people.color-2 .rank {border-color: #3C3F50}
.content .people.color-3, .people.color-3 .rank {border-color: #FE00A1}
.content .people.color-4, .people.color-4 .rank {border-color: #B721F6}
.content .people.color-5, .people.color-5 .rank {border-color: #FF6550}
.content .people.color-6, .people.color-6 .rank {border-color: #50AFFF}
.content .people.color-7, .people.color-7 .rank {border-color: #3469EF}
.content .people.color-8, .people.color-8 .rank {border-color: #F7EB32}
.content .people.color-9, .people.color-9 .rank {border-color: #97F41E}
.content .people.color-10, .people.color-10 .rank {border-color: #1FE699}

.content .people .name {
    line-height: 35px;
    font-weight: normal;
    float: left;
}

.content .people .old {
    line-height: 35px;
    float: right;
}

.content .people ol {
    margin-top: 160px;
    margin-left: 20px;
    line-height: 35px;
}

.content .people .book-name {
    font-weight: normal;
}